<div class="container-fluid bg-grad-2">
    <div class="container s-pad-y-hard">
        <h1 class="title">{{ instance.section.name }}</h1>
        <br>
        <div class="row">
            {% for item in instance.section.items.all %}
            <div class="col-xs-6 col-md-4">
                <a class="app" href="{{ item.link }}">
                    <div class="logo">
                        {% if item.icon %}
                            <i class="{{ item.icon }}" {% if item.icon_color %}style="color: {{ item.icon_color }}"{% endif %}></i>
                        {% endif %}

                        {% if item.image %}
                            <img src="{{ item.image.url }}">
                        {% endif %}

                    </div>
                    <span>{{ item.title }}</span>
                </a>
            </div>
        {% endfor %}
        </div>
        <h3 class="text-center t-white">{{ instance.section.description }}</h3>
    </div>
</div>
