{# TODO: Implement me! #}

<div class="row s-mar-top">
        {% for product in instance.product_group.product_set.all %}
        <div class="plan-wrapper col-md-4 col-sm-6">
            <div class="plan">
                {% if product.label %}
                    <span class="message" style="background: #00B700">{{ product.label }}</span>
                {% endif %}
                <div class="head" style="border-top-color: #ffb300">
                    <h1>{{ product.name }}</h1>
                    <p>{{ product.info }}</p>
                </div>
                <div class="price" style="color: #ffb300">
                    <div>
                        <small>$</small>
                        <span>2.49</span>
                        <small>/mo</small>
                        <br>
                        <small class="renew">$4.99/mo when you renew</small>
                    </div>
                </div>
                <div class="detail">
                    <p class="grid" style="height: 198px;">
                        {{ product.description }}
                    </p>
                </div>
                <div class="order">
                    <a href="{{ product.order_link }}" target="_blank" class="btn btn-default ">Order Now</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
