{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

  <!-- Cover -->
  <div class="container-fluid cover cover-dark bg-computer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="t-bold">{% placeholder "business title" %}</h1>
          <h1 class="t-5"><b>{% placeholder "business big title" %}</b></h1>
          <ul class="list-unstyled list-2x">
            <li><h4><i class="fa fa-fw fa-check t-emerald"></i> {% placeholder "business info 1" %}</h4></li>
            <li><h4><i class="fa fa-fw fa-check t-emerald"></i> {% placeholder "business info 2" %}</h4></li>
            <li><h4><i class="fa fa-fw fa-check t-emerald"></i> {% placeholder "business info 3" %}</h4></li>
            <li><h4><i class="fa fa-fw fa-check t-emerald"></i> {% placeholder "business info 4" %}</h4></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Web hosting plans -->
  <div class="container-fluid bg-1 s-pad-y-hard" id="plans">
    <div class="container">
      <!-- Title -->
      <h1 class="title-header"><a href="#plans">{% placeholder "business plans title" %}</a></h1>
      <hr>
      <!-- Plans -->
      <div class="row s-mar-top">
        <div class="plan-wrapper col-md-4 col-sm-6">
          <div class="plan">
            <div class="head" style="border-top-color: #1abc9c">
              <h1>{% placeholder "business plan 1 name" %}</h1>
              <span>{% placeholder "business plan 1 info" %}</span>
            </div>
            <div class="price" style="color: #1abc9c">
              <div>
                <small>$</small>
                <span>{% placeholder "business plan 1 price" %}</span>
                <small>/mo</small>
                <br>
                <small class="renew">${% placeholder "business plan 1 renew price" %}/mo when you renew</small>
              </div>
            </div>
            <div class="detail">
              <span class="grid">
                {% placeholder "business plan 1 detail" %}
              </span>
            </div>
            <div class="order">
              {% placeholder "business plan 1 button" %}
            </div>
          </div>
        </div>
        <div class="plan-wrapper col-md-4 col-sm-6">
          <div class="plan">
            <span class="message" style="background: #3498db">{% placeholder "business plan 2 message" %}</span>
            <div class="head" style="border-top-color: #3498db">
              <h1>{% placeholder "business plan 2 name" %}</h1>
              <span>{% placeholder "business plan 2 info" %}</span>
            </div>
            <div class="price" style="color: #3498db">
              <div>
                <small>$</small>
                <span>{% placeholder "business plan 2 price" %}</span>
                <small>/mo</small>
                <br>
                <small class="renew">${% placeholder "business plan 2 renew price" %}/mo when you renew</small>
              </div>
            </div>
            <div class="detail">
              <span class="grid">
                {% placeholder "business plan 2 detail" %}
              </span>
            </div>
            <div class="order">
              {% placeholder "business plan 2 button" %}
            </div>
          </div>
        </div>
        <div class="plan-wrapper col-md-4 col-sm-6">
          <div class="plan">
            <span class="message" style="background: #9b59b6">{% placeholder "business plan 3 message" %}</span>
            <div class="head" style="border-top-color: #9b59b6">
              <h1>{% placeholder "business plan 3 name" %}</h1>
              <p>{% placeholder "business plan 3 info" %}</p>
            </div>
            <div class="price" style="color: #9b59b6">
              <div>
                <small>$</small>
                <span>{% placeholder "business plan 3 price" %}</span>
                <small>/mo</small>
                <br>
                <small class="renew">${% placeholder "business plan 3 renew price" %}/mo when you renew</small>
              </div>
            </div>
            <div class="detail">
              <span class="grid">
                {% placeholder "business plan 3 detail" %}
              </span>
            </div>
            <div class="order">
              {% placeholder "business plan 3 button" %}
            </div>
          </div>
        </div>
      </div>
      <!-- More plans -->
      <div class="row row-launch">
        <a href="/hosting/business-hosting" class="btn btn-default btn-launch">
          {% placeholder "web hosting plans text" %} <i class="fa fa-fw fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Why Business Hosting? -->
  <div class="container-fluid">
    <div class="container s-pad-y-hard">
      <!-- Title -->
      <h1 class="title-header">{% placeholder "why business hosting" %}</h1>
      <hr>
      <!-- Content -->
      <div class="row s-mar-top text-center">
        <div class="col-md-4 col-sm-6 grid feature">
          <i class="fa feature-icon fa-dashboard"></i>
          <h3 class="t-bold">{% placeholder "business hosting reason 1 title" %}</h3>
          <br>
          <span>{% placeholder "business hosting reason 1 info" %}</span>
        </div>
        <div class="col-md-4 col-sm-6 grid feature">
          <i class="fa feature-icon fa-cogs"></i>
          <h3 class="t-bold">{% placeholder "business hosting reason 2 title" %}</h3>
          <br>
          <span>{% placeholder "business hosting reason 2 info" %}</span>
        </div>
        <div class="col-md-4 col-sm-6 grid feature">
          <i class="fa feature-icon fa-magic"></i>
          <h3 class="t-bold">{% placeholder "business hosting reason 3 title" %}</h3>
          <br>
          <span>{% placeholder "business hosting reason 3 info" %}</span>
        </div>
        <div class="col-md-4 col-sm-6 grid feature">
          <i class="fa feature-icon fa-hand-o-up"></i>
          <h3 class="t-bold">{% placeholder "business hosting reason 4 title" %}</h3>
          <br>
          <span>{% placeholder "business hosting reason 4 info" %}</span>
        </div>
        <div class="col-md-4 col-sm-6 grid feature">
          <i class="fa feature-icon fa-comments-o"></i>
          <h3 class="t-bold">{% placeholder "business hosting reason 5 title" %}</h3>
          <br>
          <span>{% placeholder "business hosting reason 5 info" %}</span>
        </div>
        <div class="col-md-4 col-sm-6 grid feature">
          <i class="fa feature-icon fa-search"></i>
          <h3 class="t-bold">{% placeholder "business hosting reason 6 title" %}</h3>
          <br>
          <span>{% placeholder "business hosting reason 6 info" %}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- More power, less complexity. -->
  <div class="container-fluid bg-primary bg-dark s-pad-y-hard">
    <div class="container text-center">
      <h1 class="t-bold">{% placeholder "business dark section title" %}</h1>
      <span>{% placeholder "business dark section info" %}</span>
      {% placeholder "business dark section button" %}
    </div>
  </div>

  <!-- Compare hosting solutions -->
  <div class="container-fluid bg-grad s-pad-y-hard">
    <div class="container">
      <!-- Title -->
      <h1 class="title">{% placeholder "business compare hosting title" %}</h1>
      <!-- List -->
      <div class="compare-table-wrapper img-shadow">
        <table class="table table-stripe table-hover compare-table">
          <thead>
            <tr>
              <th class="col-md-4"></th>
              <th>{% placeholder "business table header 1" %}</th>
              <th>{% placeholder "business table header 2" %}</th>
              <th>{% placeholder "business table header 3" %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="col-md-4">{% placeholder "business table label 1" %}</th>
              <th>{% placeholder "business table label 1 value 1" %}</th>
              <th class="active">{% placeholder "business table label 1 value 2" %}</th>
              <th>{% placeholder "business table label 1 value 3" %}</th>
            </tr>
            <tr>
              <th class="col-md-4">{% placeholder "business table label 2" %}</th>
              <th>{% placeholder "business table label 2 value 1" %}</th>
              <th class="active">{% placeholder "business table label 2 value 2" %}</th>
              <th>{% placeholder "business table label 2 value 3" %}</th>
            </tr>
            <tr>
              <th class="col-md-4">{% placeholder "business table label 3" %}</th>
              <th>{% placeholder "business table label 3 value 1" %}</th>
              <th class="active">{% placeholder "business table label 3 value 2" %}</th>
              <th>{% placeholder "business table label 3 value 3" %}</th>
            </tr>
            <tr>
              <th class="col-md-4">{% placeholder "business table label 4" %}</th>
              <th>{% placeholder "business table label 4 value 1" %}</th>
              <th class="active">{% placeholder "business table label 4 value 2" %}</th>
              <th>{% placeholder "business table label 4 value 3" %}</th>
            </tr>
            <tr>
              <th class="col-md-4">{% placeholder "business table label 5" %}</th>
              <th>{% placeholder "business table label 5 value 1" %}</th>
              <th class="active">{% placeholder "business table label 5 value 2" %}</th>
              <th>{% placeholder "business table label 5 value 3" %}</th>
            </tr>
            <tr>
              <th class="col-md-4">{% placeholder "business table label 6" %}</th>
              <th>{% placeholder "business table label 6 value 1" %}</th>
              <th class="active">{% placeholder "business table label 6 value 2" %}</th>
              <th>{% placeholder "business table label 6 value 3" %}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Popular Uses -->
  <div class="container s-pad-y">
    <!-- Title -->
    <h1 class="title-header t-bold">{% placeholder "popular uses title" %}</h1>
    <hr>
    <!-- Content -->
    <div class="row">
      <!-- Image -->
      <div class="col-md-6">
        <img src="/static/img/page/business-hosting.png" class="s-full">
      </div>
      <!-- List -->
      <div class="col-md-6">
        <ul class="list-unstyled list-flex">
          <li>
            <i class="fa fa-check fa-2x fa-fw t-emerald" style="margin-right: 16px"></i>
            {% placeholder "popular usage 1" %}
          </li>
          <li>
            <i class="fa fa-check fa-2x fa-fw t-emerald"></i>
            {% placeholder "popular usage 2" %}
          </li>
          <li>
            <i class="fa fa-check fa-2x fa-fw t-emerald"></i>
            {% placeholder "popular usage 3" %}
          </li>
          <li>
            <i class="fa fa-check fa-2x fa-fw t-emerald"></i>
            {% placeholder "popular usage 4" %}
          </li>
          <li>
            <i class="fa fa-check fa-2x fa-fw t-emerald"></i>
            {% placeholder "popular usage 5" %}
          </li>
          <li>
            <i class="fa fa-check fa-2x fa-fw t-emerald"></i>
            {% placeholder "popular usage 6" %}
          </li>
          <li>
            <i class="fa fa-check fa-2x fa-fw t-emerald"></i>
            {% placeholder "popular usage 7" %}
          </li>
          <li>
            <i class="fa fa-check fa-2x fa-fw t-emerald"></i>
            {% placeholder "popular usage 8" %}
          </li>
          <li>
            <i class="fa fa-check fa-2x fa-fw t-emerald"></i>
            {% placeholder "popular usage 9" %}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Your questions, out answers -->
  <div class="container-fluid bg-1 s-pad-y-hard">
    <div class="container">
      <!-- Ttile -->
      <h1 class="t-bold title-header">{% placeholder "questions title" %}</h1>
      <hr>
      <!-- List -->
      <br>
      <h2 class="t-bold">{% placeholder "question 1 title" %}</h2>
      <p>{% placeholder "question 1 answer" %}</p>
      <br>
      <h2 class="t-bold">{% placeholder "question 2 title" %}</h2>
      <p>{% placeholder "question 2 answer" %}</p>
      <br>
      <h2 class="t-bold">{% placeholder "question 3 title" %}</h2>
      <p>{% placeholder "question 3 answer" %}</p>
      <br>
      <h2 class="t-bold">{% placeholder "question 4 title" %}</h2>
      <p>{% placeholder "question 4 answer" %}</p>
      <br>
      <h2 class="t-bold">{% placeholder "question 5 title" %}</h2>
      <p>{% placeholder "question 5 answer" %}</p>
      <br>
      <h2 class="t-bold">{% placeholder "question 6 title" %}</h2>
      <p>{% placeholder "question 6 answer" %}</p>
      <br>
      <h2 class="t-bold">{% placeholder "question 7 title" %}</h2>
      <p>{% placeholder "question 7 answer" %}</p>
      <br>
      <h2 class="t-bold">{% placeholder "question 8 title" %}</h2>
      <p>{% placeholder "question 8 answer" %}</p>
      <br>
      <h2 class="t-bold">{% placeholder "question 9 title" %}</h2>
      <p>{% placeholder "question 9 answer" %}</p>
    </div>
  </div>

{% endblock content %}