{% load menu_tags %}

{% for child in children %}
  {% if child.children %}
    <div class="child col-md-3{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}{% if child.children %} dropdown{% endif %}">
      <h4>{{ child.get_menu_title }}</h4>
      <div class="links">
        {% for child in child.children %}
          <a {% if child.children %}class="dropdown-toggle" data-toggle="dropdown"{% endif %} tabindex="-1" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
            <span>{{ child.get_menu_title }}</span>{% if child.children|length %}<span class="caret"></span>{% endif %}
          </a>
          {% if child.children|length %}
            <ul class="dropdown-menu">
              {% for child in child.children %}
                <li><a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endfor %}
