{% load menu_tags %}

<!-- Page footer -->
<div class="footer">
  <!-- Social -->
  <div class="social container-fluid s-pad-no">
    <div class="row">
      <a class="col-md-2 col-xs-4" target="_blank"
         href="http://forum.kloud51.com" title="Kloud51 Forum">
        <i class="fa fa-cloud"></i>
      </a>
      <a class="col-md-2 col-xs-4" target="_blank"
         href="https://twitter.com/Kloud51" style="background: #0084b4">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="col-md-2 col-xs-4" target="_blank"
         href="https://instagram.com/Kloud51/" style="background: #3f729b">
        <i class="fa fa-instagram"></i>
      </a>
      <a class="col-md-2 col-xs-4" target="_blank"
         href="https://www.facebook.com/savand.bros" style="background: #3b5998">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="col-md-2 col-xs-4" target="_blank"
         href="https://plus.google.com/+Kloud51Host" style="background: #dc4e41">
        <i class="fa fa-google-plus"></i>
      </a>
      <a class="col-md-2 col-xs-4" target="_blank"
         href="https://www.linkedin.com/company/savand.bros" style="background: #0077b5">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>

  <!-- Sections -->
  <div class="section container-fluid">
    <div class="container">
      <div class="row">
          {% show_menu 0 100 100 100 "menu/footer.html" %}
      </div>
    </div>
  </div>

  <!-- Copyright & payment methods -->
  <div class="copyright container-fluid">
    <div class="container">
      <div class="row">
        <!-- Copyright -->
        <div class="col-lg-6 text-center-mobile">
          <p>
            Made with <span class="text-danger">love</span> and brought to you by Kloud51,
            a Savand Bros brand <span class="text-danger"><3</span>.
          </p>
          <p>&copy; 2017 Savand Bros. Kloud51. All Rights Reserved.</p>
        </div>
        <!-- Payment methods -->
        <div class="col-lg-6 payments text-center" tooltip title="Payment methods">
          <i class="fa fa-cc-paypal" title="PayPal"></i>
          <i class="fa fa-cc-mastercard" title="Mastercard"></i>
          <i class="fa fa-cc-amex" title="American Express"></i>
          <i class="fa fa-cc-visa" title="Visa"></i>
          <i class="fa fa-btc" title="Bitcoin"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Goal -->
  <div class="container-fluid goal s-pad-y text-center-mobile">
    <div class="container">
      <div class="row">
        <!-- Copyright -->
        <div class="col-md-3 col-lg-3">
          <a href="/affiliate-army-program">
            <img src="/static/img/logo-white.png">
          </a>
        </div>
        <div class="s-mobile-soft"></div>
        <!-- Goal -->
        <div class="col-md-9 col-lg-9">
          <p>
            Our goal is to provide out of this world web hosting hosting and Linux SSD VPS services,
            become a loved brand and have a little fun on the side.
            We offer Premium web hosting services at low prices to
            our customers without compromising reliability and great customer service.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
