{% load menu_tags %}

<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container">
    <div class="navbar-header">
      <!-- Toggle button -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand" href="/">Kloud51</a>
    </div>
    <div class="collapse navbar-collapse" id="nav">
      <!-- Nav links -->
      <ul class="nav navbar-nav">
        <!-- All links -->
        <!-- Dropdown -->
        <li class="dropdown">
          <!-- Dropdown label -->
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Hosting">
          Hosting <span class="caret"></span>
          </a>
          <!-- Dropdown links -->
          <ul class="dropdown-menu">
            <li class="">
              <a href="/hosting/web-hosting">Web Hosting</a>
            </li>
            <li class="">
              <a href="/hosting/business-hosting">Business Hosting</a>
            </li>
            <li class="">
              <a href="/hosting/mybb">MyBB</a>
            </li>
            <li class="">
              <a href="/hosting/mariadb">MariaDB</a>
            </li>
            <li class="">
              <a href="/hosting/bbpress">BbPress</a>
            </li>
            <li class="">
              <a href="/hosting/ssd-vps">SSD VPS</a>
            </li>
            <li class="">
              <a href="/hosting/wordpress">Wordpress</a>
            </li>
            <li class="">
              <a href="/hosting/whmcs">WHMCS</a>
            </li>
            <li class="">
              <a href="/hosting/joomla">Joomla</a>
            </li>
            <li class="">
              <a href="/hosting/softaculous">Softaculous</a>
            </li>
            <li class="">
              <a href="/hosting/prestashop">Prestashop</a>
            </li>
          </ul>
        </li>
        <!-- Dropdown -->
        <li class="dropdown">
          <!-- Dropdown label -->
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Program" aria-expanded="false">
          Program <span class="caret"></span>
          </a>
          <!-- Dropdown links -->
          <ul class="dropdown-menu">
            <li class="">
              <a href="/program/affiliate-army">Affiliate Army Program</a>
            </li>
            <li class="">
              <a href="/program/sponsorship">Sponsorship</a>
            </li>
            <li class="">
              <a href="/program/grant">Grant</a>
            </li>
          </ul>
        </li>
        <!-- Link -->
        <li class="">
          <a href="http://forum.kloud51.com/">Forum</a>
        </li>
        <!-- Link -->
        <li class="">
          <a href="/about">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://dash.kloud51.com/clientarea.php">Member Area</a></li>
{# TODO: Enable me when ready. #}
{#        {% language_chooser  "menu/language_chooser.html" %}#}

      </ul>
    </div>
  </div>
</nav>
