/* Import */

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600");

/* Global */

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none !important;
    font-weight: 600 !important;
}

[bold] {
    font-weight: bold;
}


/* Navbar */

.navbar-brand {
    padding-right: 40px;
}
