/* Import */

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600");

/* Global */

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none !important;
    font-weight: 600 !important;
}

[bold] {
    font-weight: bold;
}


/* Navbar */

.navbar {
    background: #fff;
    margin: 0;
}

@media (min-width: 768px) {
    .navbar {
        height: 70px;
        padding-right: 40px;
    }
    .navbar a {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
    .navbar .navbar-nav a {
        border: none;
        border-bottom: 3px solid transparent;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 22px !important;
        background: whitesmoke !important;
        font-size: 1.1em;
        letter-spacing: 1px;
        transition: all 0.2s ease-in-out;
    }
    .navbar .navbar-nav a:hover {
        border-bottom-color: #eee;
    }
    .navbar .navbar-nav .active a {
        border-bottom-color: #337ab7;
    }
    .navbar-brand {
        margin-right: 80px;
    }
}

}
