/* Spaces */

.s-pad-no {
    padding: 0;
}

.s-mar-no {
    margin: 0;
}

.s-pad {
    padding: 50px;
}

.s-mar-bottom {
    margin-bottom: 50px;
}

.s-mar-bottom-soft {
    margin-bottom: 25px;
}

.s-mar-top {
    margin-top: 50px;
}

.s-mar-top-soft {
    margin-top: 25px;
}

.s-mar-y {
    margin-top: 50px;
    margin-bottom: 50px;
}

.s-pad-top {
    padding-top: 50px;
}

.s-mar-top-hard {
    margin-top: 100px;
}

.s-pad-y {
    padding-top: 50px;
    padding-bottom: 50px;
}

.s-pad-y-soft {
    padding-top: 25px;
    padding-bottom: 25px;
}

.s-pad-y-hard {
    padding-top: 100px;
    padding-bottom: 100px;
}

.s-full {
    max-width: 100%;
}

@media (max-width: 992px) {
    .s-mobile {
        padding: 20px 0 20px 0;
    }
    .s-mobile-soft {
        padding: 10px 0 10px 0;
    }
    .text-center-mobile {
        text-align: center;
    }
}


/* Backgrounds */

.bg-1 {
    background: #f0f0f0;
}

.bg-2 {
    background: #f6f6f6;
}

.bg-3 {
    background: #fafafa;
}

.bg-4 {
    background: #fdfdfd;
}

.bg-dark {
    background: #333;
}

.bg-white {
    background: #fff;
}


/* Texts */

.t-larger {
    font-size: larger;
}

.t-bold {
    font-weight: bold;
}

.t-5 {
    font-size: 5em;
}

.t-4 {
    font-size: 4em;
}

.t-3 {
    font-size: 3em;
}

.t-2 {
    font-size: 2em;
}

.t-emerald {
    color: #2ecc71;
}

.t-white {
    color: #fff;
}

a.t-white:hover {
    color: rgba(255, 255, 255, 0.5);
}

a.t-dark {
    color: #333;
}

a.t-dark:hover {
    color: #337ab7;
}

.t-line {
    line-height: 1.5em;
}


/* Opacities */

.o-fade {
    opacity: 0.5;
}

.o-fade-soft {
    opacity: 0.75;
}

.o-fade-hard {
    opacity: 0.25;
}

.o-fade-hover:hover {
    opacity: 1;
}


/* Cursors */

.cur-no {
    pointer-events: none;
}


/* Font Awesome */

.fa-6x {
    font-size: 6em;
}


/* Borders */

.img-rounded {
    border-radius: 6px;
}

.img-circle {
    border-radius: 10000px;
}

.br-top {
    border-top: 2px solid #337ab7;
}

.br-rad-no {
    border-radius: 0 !important;
}

.br-no {
    border: 0 !important;
}

.img-softaculous {
    padding: 10px;
    width: 160px !important;
    background: #fff;
}


/* Displays */

.dis-b {
    display: block;
}
