{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
  <!-- Kloud51 Joomla Hosting, Heavyweight Serious Champion! -->
  <div class="container-fluid container-dark">
    <div class="container s-pad-y-hard">
      <div class="row">
        <!-- Image -->
        <div class="col-md-4 text-center-mobile s-mobile">
          <i class="fa fa-joomla" style="font-size: 12em;"></i>
        </div>
        <!-- Title and detail -->
        <div class="col-md-8">
          <h1>{% placeholder "title" %}</h1>
          <hr light>
          {% placeholder "detail" %}
        </div>
      </div>
    </div>
  </div>

  <!-- Joomla Tools -->
  <div class="container-fluid">
    <div class="container s-pad-y-hard">
      <!-- Title -->
      <h1 class="title-header">{% placeholder "tool title" %}</h1>
      <hr>
      <!-- Description -->
      <div class="row s-mar-top text-center">
        <div class="col-xs-12 col-sm-4">
          <i class="fa feature-icon fa-cubes"></i>
          {% placeholder "feature 1" %}
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa feature-icon fa-thumbs-up"></i>
          {% placeholder "feature 2" %}
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa feature-icon fa-star"></i>
          {% placeholder "feature 3" %}
        </div>
      </div>
    </div>
  </div>

  <!-- More Features -->
  <div class="container-fluid bg-1">
    <div class="container s-pad-y-hard">
      <!-- Title -->
      <h1 class="title-header">{% placeholder "more features title" %}</h1>
      <hr>
      <!-- Features -->
      <div class="row icon-title">
        <div class="col-lg-6 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-cube" style="color: #9b59b6"></i>
            </div>
            <div class="col-sm-9">{% placeholder "more feature 1" %}</div>
          </div>
        </div>
        <div class="col-lg-6 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-sitemap" style="color: #3498db"></i>
            </div>
            <div class="col-sm-9">{% placeholder "more feature 2" %}</div>
          </div>
        </div>
        <div class="col-lg-6 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-database" style="color: #e67e22"></i>
            </div>
            <div class="col-sm-9">{% placeholder "more feature 3" %}</div>
          </div>
        </div>
        <div class="col-lg-6 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-terminal" style="color: #444"></i>
            </div>
            <div class="col-sm-9">{% placeholder "more feature 4" %}</div>
          </div>
        </div>
        <div class="col-lg-6 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-star-half-o" style="color: #f1c40f"></i>
            </div>
            <div class="col-sm-9">{% placeholder "more feature 5" %}</div>
          </div>
        </div>
        <div class="col-lg-6 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-envelope" style="color: #e74c3c"></i>
            </div>
            <div class="col-sm-9">{% placeholder "more feature 6" %}</div>
          </div>
        </div>
        <div class="col-lg-6 col-lg-offset-3 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-cogs" style="color: #16a085"></i>
            </div>
            <div class="col-sm-9">{% placeholder "more feature 7" %}</div>
          </div>
        </div>
      </div>
      <div class="text-center s-pad-top">
        <a href="https://dash.kloud51.com/cart.php?gid=1" class="btn btn-success btn-launch">
          <i class="fa fa-rocket fa-fw"></i> {% placeholder "launch button" %}
        </a>
      </div>
    </div>
  </div>
{% endblock content %}