{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

  <!-- Blazing Fast SSD Virtual Server (VPS) Hosting -->
  <div class="container-fluid container-dark">
    <div class="container s-pad-y-hard">
      <div class="row">
        <!-- Image -->
        <div class="col-md-4 text-center-mobile">
          <i class="fa fa-server" style="font-size: 12em;"></i>
        </div>
        <!-- Title and detail -->
        <div class="col-md-8">
          {% placeholder "title" %}
          <hr light>
          {% placeholder "detail" %}
        </div>
      </div>
    </div>
  </div>

  <!-- Awesome VPS Tools -->
  <div class="container-fluid">
    <div class="container s-pad-y-hard">
      <!-- Title -->
      {% placeholder "tools title" %}
      <hr>
      <!-- Description -->
      <div class="row s-mar-top text-center">
        <div class="col-xs-12 col-sm-4">
          <i class="fa feature-icon fa-space-shuttle"></i>
          {% placeholder "tool 1" %}
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa feature-icon fa-cubes"></i>
          {% placeholder "tool 2" %}
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa feature-icon fa-shield"></i>
          {% placeholder "tool 3" %}
        </div>
      </div>
    </div>
  </div>

  <!-- Image -->
  <div class="container-fluid bg-1 text-center s-pad-y-hard">
    <img src="/static/img/vps-distribs-classic.png">
  </div>

  <!-- More Features -->
  <div class="container-fluid">
    <div class="container s-pad-y-hard">
      <!-- Title -->
      <h1 class="title-header">{% placeholder "more features title" %}</h1>
      <hr>
      <!-- Features -->
      <div class="row icon-title">
        <div class="col-lg-6 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-cogs" style="color: #16a085"></i>
            </div>
            <div class="col-sm-9">
              {% placeholder "more feature 1" %}
            </div>
          </div>
        </div>
        <div class="col-lg-6 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-database" style="color: #e67e22"></i>
            </div>
            <div class="col-sm-9">
              {% placeholder "more feature 2" %}
            </div>
          </div>
        </div>
        <div class="col-lg-6 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-cubes" style="color: #9b59b6"></i>
            </div>
            <div class="col-sm-9">
              {% placeholder "more feature 3" %}
            </div>
          </div>
        </div>
        <div class="col-lg-6 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-terminal" style="color: #222;"></i>
            </div>
            <div class="col-sm-9">
              {% placeholder "more feature 4" %}
            </div>
          </div>
        </div>
        <div class="col-lg-6 grid col-lg-offset-3">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-comments" style="color: #9b59b6;"></i>
            </div>
            <div class="col-sm-9">
              {% placeholder "more feature 5" %}
            </div>
          </div>
        </div>
      </div>
      <div class="text-center s-pad-top">
        <a href="https://dash.kloud51.com/cart.php?gid=1" class="btn btn-success btn-launch">
          <i class="fa fa-rocket fa-fw"></i> {% placeholder "launch button" %}
        </a>
      </div>
    </div>
  </div>

  <!-- More About Our Service -->
  <div class="container-fluid bg-1">
    <div class="container s-pad-y-hard">
      <!-- Title -->
      <h1 class="title-header">{% placeholder "more about title" %}</h1>
      <hr>
      <!-- Features -->
      <div class="row icon-title">
        <div class="col-lg-12 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-dashboard" style="color: #16a085"></i>
            </div>
            <div class="col-sm-9">
              {% placeholder "more about 1" %}
            </div>
          </div>
        </div>
        <div class="col-lg-12 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-cubes" style="color: #9b59b6"></i>
            </div>
            <div class="col-sm-9">
              {% placeholder "more about 2" %}
            </div>
          </div>
        </div>
        <div class="col-lg-12 grid">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-shield" style="color: #e67e22"></i>
            </div>
            <div class="col-sm-9">
              {% placeholder "more about 3" %}
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="https://dash.kloud51.com/cart.php?gid=1" class="btn btn-success btn-launch">
          <i class="fa fa-rocket fa-fw"></i> {% placeholder "launch button" %}
        </a>
      </div>
    </div>
  </div>

  <!-- FAQ -->
  <div class="container-fluid">
    <div class="container s-pad-y-hard">
      <!-- Title -->
      <h1 class="title-header">{% placeholder "faq title" %}</h1>
      <hr>
      <!-- Content -->
      <div class="row">
        <div class="col-md-12">
          <div class="list-group">
            <a class="list-group-item">
              {% placeholder "faq 1" %}
            </a>
          </div>
        </div>
        <div class="col-md-12">
          <div class="list-group">
            <a class="list-group-item">
              {% placeholder "faq 2" %}
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="list-group">
            <a class="list-group-item grid">
              {% placeholder "faq 3" %}
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="list-group">
            <a class="list-group-item grid">
              {% placeholder "faq 4" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
